Package com.jogamp.oculusvr

# Specify output directories
HierarchicalNativeOutput false
JavaOutputDir gensrc/classes
NativeOutputDir gensrc/native/oculusvr

# Raise OVRException instead of RuntimeException in glue code
RuntimeExceptionType OVRException

# We also have to hack its return type for now because we can't make
# just that void* opaque
Opaque long ovrHmd

#ReturnValueCapacity alcOpenDevice 0

# Mappings for data types
Opaque boolean ovrBool

# Not implemented in SDK !?
Ignore ovrHmd_ProcessLatencyTest

# These routines use or return strings
ReturnsString ovrHmd_GetLastError
ReturnsString ovrHmd_GetLatencyTestResult
ReturnsString ovrHmd_GetString

ArgumentIsString ovrHmd_GetFloat 1
ArgumentIsString ovrHmd_SetFloat 1
ArgumentIsString ovrHmd_GetFloatArray 1
ArgumentIsString ovrHmd_SetFloatArray 1
ArgumentIsString ovrHmd_GetArraySize 1


