# This .cfg file is used to generate the interface to the CGL routines
# used internally by the MacOSXGLContext implementation.
JavaOutputDir gensrc/classes
NativeOutputDir gensrc/native/jogl/MacOSX

Package com.sun.opengl.impl.macosx.cgl
JavaClass CGL
Style allstatic
Include gl-common.cfg
Include gl-common-extensions.cfg
Include gl-desktop.cfg

GLHeader GL/cglext.h

Opaque long void *

# Opaque directives for low-level CGL binding (for Java2D/JOGL bridge)
Opaque long CGLContextObj
Opaque long CGLPBufferObj
Opaque long CGLPixelFormatObj

CustomCCode #include </usr/include/machine/types.h>
CustomCCode #include "macosx-window-system.h"

# Implement the first argument to getProcAddress as String instead
# of byte[]
ArgumentIsString getProcAddress 0

DropUniqVendorExtensions AMD
# We need GL_APPLE_float_pixels for our pbuffer implementation
# DropUniqVendorExtensions APPLE
DropUniqVendorExtensions ATI
DropUniqVendorExtensions HP
DropUniqVendorExtensions IBM
DropUniqVendorExtensions MESA
DropUniqVendorExtensions MESAX
DropUniqVendorExtensions NV
DropUniqVendorExtensions SGI
DropUniqVendorExtensions SGIS
DropUniqVendorExtensions SGIX
DropUniqVendorExtensions SUN
DropUniqVendorExtensions WIN

