# Ignoring API only available on embedded systems, e.g. ES1, ES2, ES3, ..
#

# GL_APPLE_framebuffer_multisample 
Ignore glResolveMultisampleFramebufferAPPLE

# GL_KHR_debug: Only avail on ES2
Ignore GL_VERTEX_ARRAY_KHR

# Since we subsume GL_KHR_debug, we need to skip GL_VERTEX_ARRAY,
# which is already defined in GLPointerFunc
Ignore GL_VERTEX_ARRAY

