# This .cfg file is used to generate the GL interface and implementing class.
JavaOutputDir ../../build-temp/gluegen-set

Package javax.media.opengl
Style InterfaceOnly
JavaClass GL3Set
Include gl-common.cfg
Include gl-common-extensions.cfg
Include gl3-common.cfg
Include gl3-desktop.cfg

EmitProcAddressTable false
ProcAddressTableClassName DontGenerateProcAddressTableStuff
GetProcAddressTableExpr DontGenerateProcAddressTableStuff
