# FIXME: some of these definitions like the ARB_imaging subset should end up in the GL interface
Ignore GL.+_NV
Ignore GL.+_ATI
Ignore GL.+_AMD
Ignore GL_ACTIVE_ATTRIBUTE_MAX_LENGTH
Ignore GL_ACTIVE_ATTRIBUTES
Ignore GL_ACTIVE_UNIFORM_MAX_LENGTH
Ignore GL_ACTIVE_UNIFORMS
Ignore GL_ADD
Ignore GL_ADD_SIGNED
Ignore GL_ALPHA_SCALE
Ignore GL_ALPHA_TEST
Ignore GL_ALPHA_TEST_FUNC
Ignore GL_ALPHA_TEST_REF
Ignore GL_AMBIENT
Ignore GL_AMBIENT_AND_DIFFUSE
Ignore GL_AND
Ignore GL_AND_INVERTED
Ignore GL_AND_REVERSE
Ignore GL_ATTACHED_SHADERS
Ignore GL_BLEND_COLOR
Ignore GL_BLEND_DST
#Ignore GL_BLEND_DST_ALPHA
#Ignore GL_BLEND_DST_RGB
#Ignore GL_BLEND_EQUATION
#Ignore GL_BLEND_EQUATION_ALPHA
#Ignore GL_BLEND_EQUATION_ALPHA_OES
Ignore GL_BLEND_EQUATION_OES
#Ignore GL_BLEND_EQUATION_RGB
#Ignore GL_BLEND_EQUATION_RGB_OES
Ignore GL_BLEND_SRC
#Ignore GL_BLEND_SRC_ALPHA
#Ignore GL_BLEND_SRC_ALPHA_OES
#Ignore GL_BLEND_SRC_RGB
#Ignore GL_BLEND_SRC_RGB_OES
Ignore GL_BOOL
Ignore GL_BOOL_VEC2
Ignore GL_BOOL_VEC3
Ignore GL_BOOL_VEC4
Ignore GL_BUFFER_ACCESS_OES
Ignore GL_CLEAR
Ignore GL_CLIENT_ACTIVE_TEXTURE
Ignore GL_CLIP_PLANE0
Ignore GL_CLIP_PLANE1
Ignore GL_CLIP_PLANE2
Ignore GL_CLIP_PLANE3
Ignore GL_CLIP_PLANE4
Ignore GL_CLIP_PLANE5
Ignore GL_COLOR_ARRAY
Ignore GL_COLOR_ARRAY_BUFFER_BINDING
Ignore GL_COLOR_ARRAY_POINTER
Ignore GL_COLOR_ARRAY_SIZE
Ignore GL_COLOR_ARRAY_STRIDE
Ignore GL_COLOR_ARRAY_TYPE
Ignore GL_COLOR_LOGIC_OP
Ignore GL_COLOR_MATERIAL
Ignore GL_COMBINE
Ignore GL_COMBINE_ALPHA
Ignore GL_COMBINE_RGB
Ignore GL_COMPILE_STATUS
Ignore GL_CONSTANT
Ignore GL_CONSTANT_ALPHA
Ignore GL_CONSTANT_ATTENUATION
Ignore GL_CONSTANT_COLOR
Ignore GL_COORD_REPLACE_OES
Ignore GL_COPY
Ignore GL_COPY_INVERTED
Ignore GL_CURRENT_COLOR
Ignore GL_CURRENT_NORMAL
Ignore GL_CURRENT_PALETTE_MATRIX_OES
Ignore GL_CURRENT_PROGRAM
Ignore GL_CURRENT_TEXTURE_COORDS
Ignore GL_CURRENT_VERTEX_ATTRIB
Ignore GL_DECAL
#Ignore GL_DECR_WRAP
#Ignore GL_DECR_WRAP_OES
Ignore GL_DELETE_STATUS
Ignore GL_DEPTH_COMPONENT
Ignore GL_DEPTH_COMPONENT24_OES
Ignore GL_DEPTH_COMPONENT32_OES
Ignore GL_DIFFUSE
Ignore GL_DOT3_RGB
Ignore GL_DOT3_RGBA
Ignore GL_EMISSION
Ignore GL_EQUIV
Ignore GL_ES_VERSION_2_0
Ignore GL_ETC1_RGB8_OES
Ignore GL_EXP
Ignore GL_EXP2
#Ignore GL_FIXED_OES
#Ignore GL_FIXED
Ignore GL_FLAT
Ignore GL_FLOAT_MAT2
Ignore GL_FLOAT_MAT3
Ignore GL_FLOAT_MAT4
Ignore GL_FLOAT_VEC2
Ignore GL_FLOAT_VEC3
Ignore GL_FLOAT_VEC4
Ignore GL_FOG
Ignore GL_FOG_COLOR
Ignore GL_FOG_DENSITY
Ignore GL_FOG_END
Ignore GL_FOG_HINT
Ignore GL_FOG_MODE
Ignore GL_FOG_START
Ignore GL_FRAMEBUFFER_ATTACHMENT_TEXTURE_LAYER_EXT
Ignore GL_FRAGMENT_SHADER
Ignore GL_FRAGMENT_SHADER_DERIVATIVE_HINT
#Ignore GL_FUNC_ADD
#Ignore GL_FUNC_ADD_OES
#Ignore GL_FUNC_REVERSE_SUBTRACT
#Ignore GL_FUNC_REVERSE_SUBTRACT_OES
#Ignore GL_FUNC_SUBTRACT
#Ignore GL_FUNC_SUBTRACT_OES
Ignore GL_GENERATE_MIPMAP
Ignore GL_HIGH_FLOAT
Ignore GL_HIGH_INT
#Ignore GL_IMPLEMENTATION_COLOR_READ_FORMAT
#Ignore GL_IMPLEMENTATION_COLOR_READ_FORMAT_OES
#Ignore GL_IMPLEMENTATION_COLOR_READ_TYPE
#Ignore GL_IMPLEMENTATION_COLOR_READ_TYPE_OES
#Ignore GL_INCR_WRAP
#Ignore GL_INCR_WRAP_OES
Ignore GL_INFO_LOG_LENGTH
Ignore GL_INT
Ignore GL_INTERPOLATE
Ignore GL_INT_VEC2
Ignore GL_INT_VEC3
Ignore GL_INT_VEC4
Ignore GL_LIGHT0
Ignore GL_LIGHT1
Ignore GL_LIGHT2
Ignore GL_LIGHT3
Ignore GL_LIGHT4
Ignore GL_LIGHT5
Ignore GL_LIGHT6
Ignore GL_LIGHT7
Ignore GL_LIGHTING
Ignore GL_LIGHT_MODEL_AMBIENT
Ignore GL_LIGHT_MODEL_TWO_SIDE
Ignore GL_LINEAR_ATTENUATION
Ignore GL_LINE_SMOOTH
Ignore GL_LINE_SMOOTH_HINT
Ignore GL_LINK_STATUS
Ignore GL_LOGIC_OP_MODE
Ignore GL_LOW_FLOAT
Ignore GL_LOW_INT
Ignore GL_MATRIX_INDEX_ARRAY_BUFFER_BINDING_OES
Ignore GL_MATRIX_INDEX_ARRAY_OES
Ignore GL_MATRIX_INDEX_ARRAY_POINTER_OES
Ignore GL_MATRIX_INDEX_ARRAY_SIZE_OES
Ignore GL_MATRIX_INDEX_ARRAY_STRIDE_OES
Ignore GL_MATRIX_INDEX_ARRAY_TYPE_OES
Ignore GL_MATRIX_MODE
Ignore GL_MATRIX_PALETTE_OES
Ignore GL_MAX_ARRAY_TEXTURE_LAYERS_EXT
Ignore GL_MAX_CLIP_PLANES
Ignore GL_MAX_COMBINED_TEXTURE_IMAGE_UNITS
Ignore GL_MAX_FRAGMENT_UNIFORM_VECTORS
Ignore GL_MAX_LIGHTS
Ignore GL_MAX_MODELVIEW_STACK_DEPTH
Ignore GL_MAX_PALETTE_MATRICES_OES
Ignore GL_MAX_PROJECTION_STACK_DEPTH
Ignore GL_MAX_TEXTURE_IMAGE_UNITS
Ignore GL_MAX_TEXTURE_STACK_DEPTH
Ignore GL_MAX_TEXTURE_UNITS
Ignore GL_MAX_VARYING_VECTORS
Ignore GL_MAX_VERTEX_ATTRIBS
Ignore GL_MAX_VERTEX_TEXTURE_IMAGE_UNITS
Ignore GL_MAX_VERTEX_UNIFORM_VECTORS
Ignore GL_MAX_VERTEX_UNITS_OES
Ignore GL_MEDIUM_FLOAT
Ignore GL_MEDIUM_INT
#Ignore GL_MIRRORED_REPEAT
#Ignore GL_MIRRORED_REPEAT_OES
Ignore GL_MODELVIEW
Ignore GL_MODELVIEW_MATRIX
Ignore GL_MODELVIEW_MATRIX_FLOAT_AS_INT_BITS_OES
Ignore GL_MODELVIEW_STACK_DEPTH
Ignore GL_MODULATE
Ignore GL_MULTISAMPLE
Ignore GL_NAND
Ignore GL_NOOP
Ignore GL_NOR
Ignore GL_NORMAL_ARRAY
Ignore GL_NORMAL_ARRAY_BUFFER_BINDING
Ignore GL_NORMAL_ARRAY_POINTER
Ignore GL_NORMAL_ARRAY_STRIDE
Ignore GL_NORMAL_ARRAY_TYPE
Ignore GL_NORMALIZE
Ignore GL_NORMAL_MAP_OES
Ignore GL_NUM_SHADER_BINARY_FORMATS
Ignore GL_OES_blend_equation_separate
Ignore GL_OES_blend_func_separate
Ignore GL_OES_blend_subtract
Ignore GL_OES_byte_coordinates
Ignore GL_OES_compressed_ETC1_RGB8_texture
Ignore GL_OES_compressed_paletted_texture
Ignore GL_OES_depth24
Ignore GL_OES_depth32
Ignore GL_OES_draw_texture
Ignore GL_OES_element_index_uint
Ignore GL_OES_extended_matrix_palette
Ignore GL_OES_fbo_render_mipmap
Ignore GL_OES_fixed_point
Ignore GL_OES_framebuffer_object
Ignore GL_OES_matrix_get
Ignore GL_OES_matrix_palette
Ignore GL_OES_point_size_array
Ignore GL_OES_point_sprite
Ignore GL_OES_query_matrix
Ignore GL_OES_read_format
Ignore GL_OES_single_precision
Ignore GL_OES_stencil1
Ignore GL_OES_stencil4
Ignore GL_OES_stencil8
Ignore GL_OES_stencil_wrap
Ignore GL_OES_texture_cube_map
Ignore GL_OES_texture_env_crossbar
Ignore GL_OES_texture_half_float
Ignore GL_OES_texture_mirrored_repeat
Ignore GL_OES_vertex_half_float
Ignore GL_ONE_MINUS_CONSTANT_ALPHA
Ignore GL_ONE_MINUS_CONSTANT_COLOR
Ignore GL_OPERAND0_ALPHA
Ignore GL_OPERAND0_RGB
Ignore GL_OPERAND1_ALPHA
Ignore GL_OPERAND1_RGB
Ignore GL_OPERAND2_ALPHA
Ignore GL_OPERAND2_RGB
Ignore GL_OR
Ignore GL_OR_INVERTED
Ignore GL_OR_REVERSE
Ignore GL_PALETTE4_R5_G6_B5_OES
Ignore GL_PALETTE4_RGB5_A1_OES
Ignore GL_PALETTE4_RGB8_OES
Ignore GL_PALETTE4_RGBA4_OES
Ignore GL_PALETTE4_RGBA8_OES
Ignore GL_PALETTE8_R5_G6_B5_OES
Ignore GL_PALETTE8_RGB5_A1_OES
Ignore GL_PALETTE8_RGB8_OES
Ignore GL_PALETTE8_RGBA4_OES
Ignore GL_PALETTE8_RGBA8_OES
Ignore GL_PERSPECTIVE_CORRECTION_HINT
Ignore GL_PLATFORM_BINARY
Ignore GL_POINT_DISTANCE_ATTENUATION
Ignore GL_POINT_FADE_THRESHOLD_SIZE
Ignore GL_POINT_SIZE
Ignore GL_POINT_SIZE_ARRAY_BUFFER_BINDING_OES
Ignore GL_POINT_SIZE_ARRAY_OES
Ignore GL_POINT_SIZE_ARRAY_POINTER_OES
Ignore GL_POINT_SIZE_ARRAY_STRIDE_OES
Ignore GL_POINT_SIZE_ARRAY_TYPE_OES
Ignore GL_POINT_SIZE_MAX
Ignore GL_POINT_SIZE_MIN
Ignore GL_POINT_SMOOTH
Ignore GL_POINT_SMOOTH_HINT
Ignore GL_POINT_SPRITE_OES
Ignore GL_POSITION
Ignore GL_PREVIOUS
Ignore GL_PRIMARY_COLOR
Ignore GL_PROJECTION
Ignore GL_PROJECTION_MATRIX
Ignore GL_PROJECTION_MATRIX_FLOAT_AS_INT_BITS_OES
Ignore GL_PROJECTION_STACK_DEPTH
Ignore GL_QUADRATIC_ATTENUATION
Ignore GL_R11F_G11F_B10F_EXT
Ignore GL_REFLECTION_MAP_OES
Ignore GL_RESCALE_NORMAL
Ignore GL_RGBA_SIGNED_COMPONENTS_EXT
Ignore GL_RGB_SCALE
Ignore GL_SAMPLE_ALPHA_TO_ONE
Ignore GL_SAMPLER_2D
Ignore GL_SAMPLER_2D_ARRAY_EXT
Ignore GL_SAMPLER_CUBE
Ignore GL_SET
Ignore GL_SHADE_MODEL
Ignore GL_SHADER_BINARY_FORMATS
Ignore GL_SHADER_COMPILER
Ignore GL_SHADER_SOURCE_LENGTH
Ignore GL_SHADER_TYPE
Ignore GL_SHADING_LANGUAGE_VERSION
Ignore GL_SHININESS
Ignore GL_SMOOTH
Ignore GL_SMOOTH_LINE_WIDTH_RANGE
Ignore GL_SMOOTH_POINT_SIZE_RANGE
Ignore GL_SPECULAR
Ignore GL_SPOT_CUTOFF
Ignore GL_SPOT_DIRECTION
Ignore GL_SPOT_EXPONENT
Ignore GL_SRC0_ALPHA
Ignore GL_SRC0_RGB
Ignore GL_SRC1_ALPHA
Ignore GL_SRC1_RGB
Ignore GL_SRC2_ALPHA
Ignore GL_SRC2_RGB
Ignore GL_STACK_OVERFLOW
Ignore GL_STACK_UNDERFLOW
Ignore GL_STENCIL_BACK_FAIL
Ignore GL_STENCIL_BACK_FUNC
Ignore GL_STENCIL_BACK_PASS_DEPTH_FAIL
Ignore GL_STENCIL_BACK_PASS_DEPTH_PASS
Ignore GL_STENCIL_BACK_REF
Ignore GL_STENCIL_BACK_VALUE_MASK
Ignore GL_STENCIL_BACK_WRITEMASK
Ignore GL_STENCIL_INDEX
Ignore GL_STENCIL_INDEX1_OES
Ignore GL_STENCIL_INDEX4_OES
Ignore GL_STREAM_DRAW
Ignore GL_SUBTRACT
Ignore GL_TEXTURE_2D_ARRAY_EXT
Ignore GL_TEXTURE_2D_OES
Ignore GL_TEXTURE_BINDING_2D_ARRAY_EXT
Ignore GL_TEXTURE_COORD_ARRAY
Ignore GL_TEXTURE_COORD_ARRAY_BUFFER_BINDING
Ignore GL_TEXTURE_COORD_ARRAY_POINTER
Ignore GL_TEXTURE_COORD_ARRAY_SIZE
Ignore GL_TEXTURE_COORD_ARRAY_STRIDE
Ignore GL_TEXTURE_COORD_ARRAY_TYPE
Ignore GL_TEXTURE_CROP_RECT_OES
Ignore GL_TEXTURE_ENV
Ignore GL_TEXTURE_ENV_COLOR
Ignore GL_TEXTURE_ENV_MODE
Ignore GL_TEXTURE_GEN_MODE_OES
Ignore GL_TEXTURE_GEN_STR_OES
Ignore GL_TEXTURE_MATRIX
Ignore GL_TEXTURE_MATRIX_FLOAT_AS_INT_BITS_OES
Ignore GL_TEXTURE_RECTANGLE_NV_OES
Ignore GL_TEXTURE_STACK_DEPTH
Ignore GL_UNSIGNED_INT
Ignore GL_UNSIGNED_INT_10F_11F_11F_REV_EXT
Ignore GL_VALIDATE_STATUS
Ignore GL_VERTEX_ARRAY
Ignore GL_VERTEX_ARRAY_BUFFER_BINDING
Ignore GL_VERTEX_ARRAY_POINTER
Ignore GL_VERTEX_ARRAY_SIZE
Ignore GL_VERTEX_ARRAY_STRIDE
Ignore GL_VERTEX_ARRAY_TYPE
Ignore GL_VERTEX_ATTRIB_ARRAY_BUFFER_BINDING
Ignore GL_VERTEX_ATTRIB_ARRAY_ENABLED
Ignore GL_VERTEX_ATTRIB_ARRAY_NORMALIZED
Ignore GL_VERTEX_ATTRIB_ARRAY_POINTER
Ignore GL_VERTEX_ATTRIB_ARRAY_SIZE
Ignore GL_VERTEX_ATTRIB_ARRAY_STRIDE
Ignore GL_VERTEX_ATTRIB_ARRAY_TYPE
Ignore GL_VERTEX_SHADER
Ignore GL_WEIGHT_ARRAY_BUFFER_BINDING_OES
Ignore GL_WEIGHT_ARRAY_OES
Ignore GL_WEIGHT_ARRAY_POINTER_OES
Ignore GL_WEIGHT_ARRAY_SIZE_OES
Ignore GL_WEIGHT_ARRAY_STRIDE_OES
Ignore GL_WEIGHT_ARRAY_TYPE_OES
Ignore GL_WRITE_ONLY_OES
Ignore GL_XOR
Ignore glIsProgram
Ignore glIsShader
#Ignore glUnmapBufferOES
Ignore glCreateProgram
Ignore glCreateShader
Ignore glGetAttribLocation
Ignore glGetUniformLocation
Ignore glAlphaFunc
Ignore glAttachShader
Ignore glBindAttribLocation
Ignore glBlendColor
#Ignore glBlendEquation
#Ignore glBlendEquationOES
#Ignore glBlendEquationSeparate
#Ignore glBlendEquationSeparateOES
#Ignore glBlendFuncSeparate
#Ignore glBlendFuncSeparateOES
Ignore glClearDepthfOES
Ignore glClientActiveTexture
Ignore glClipPlanef
Ignore glClipPlanefOES
Ignore glColor4f
Ignore glColor4ub
Ignore glColorPointer
Ignore glCompileShader
Ignore glCoverageMaskNV
Ignore glCoverageOperationNV
Ignore glDeleteProgram
Ignore glDeleteShader
Ignore glDepthRangefOES
Ignore glDetachShader
Ignore glDisableClientState
Ignore glDisableVertexAttribArray
Ignore glDrawTexfOES
Ignore glDrawTexfvOES
Ignore glDrawTexiOES
Ignore glDrawTexivOES
Ignore glDrawTexsOES
Ignore glDrawTexsvOES
Ignore glDrawTexxvOES
Ignore glEnableClientState
Ignore glEnableVertexAttribArray
Ignore glFogf
Ignore glFogfv
Ignore glFogxv
Ignore glFogxvOES
Ignore glFramebufferVertexAttribArrayNV
Ignore glFrustumf
Ignore glFrustumfOES
#Ignore glGenerateMipmap
#Ignore glGenerateMipmapOES
Ignore glGetActiveAttrib
Ignore glGetActiveUniform
Ignore glGetAttachedShaders
Ignore glGetClipPlanef
Ignore glGetClipPlanefOES
Ignore glGetFixedv
Ignore glGetFixedvOES
Ignore glGetLightfv
Ignore glGetLightxv
Ignore glGetLightxvOES
Ignore glGetMaterialfv
Ignore glGetMaterialxv
Ignore glGetMaterialxvOES
Ignore glGetProgramInfoLog
Ignore glGetProgramiv
Ignore glGetShaderInfoLog
Ignore glGetShaderiv
Ignore glGetShaderPrecisionFormat
Ignore glGetShaderSource
Ignore glGetTexEnvfv
Ignore glGetTexEnviv
Ignore glGetTexEnvxv
Ignore glGetTexEnvxvOES
Ignore glGetTexGenfvOES
Ignore glGetTexGenivOES
Ignore glGetTexGenxvOES
Ignore glGetTexParameterxv
Ignore glGetTexParameterxvOES
Ignore glGetUniformfv
Ignore glGetUniformiv
Ignore glGetVertexAttribfv
Ignore glGetVertexAttribiv
Ignore glLightf
Ignore glLightfv
Ignore glLightModelf
Ignore glLightModelfv
Ignore glLightModelxv
Ignore glLightModelxvOES
Ignore glLightxv
Ignore glLightxvOES
Ignore glLinkProgram
Ignore glLoadIdentity
Ignore glLoadMatrixf
Ignore glLogicOp
Ignore glMaterialf
Ignore glMaterialfv
Ignore glMaterialxv
Ignore glMaterialxvOES
Ignore glMatrixIndexPointerOES
Ignore glMatrixMode
Ignore glMultiTexCoord4f
Ignore glMultMatrixf
Ignore glNormal3f
Ignore glNormalPointer
Ignore glOrthof
Ignore glOrthofOES
Ignore glPointParameterf
Ignore glPointParameterfv
Ignore glPointParameterxv
Ignore glPointParameterxvOES
Ignore glPointSize
Ignore glPointSizePointer
Ignore glReleaseShaderCompiler
Ignore glRotatef
Ignore glScalef
Ignore glShadeModel
Ignore glShaderBinary
Ignore glShaderSource
Ignore glStencilFuncSeparate
Ignore glStencilMaskSeparate
Ignore glStencilOpSeparate
Ignore glTexCoordPointer
Ignore glTexEnvf
Ignore glTexEnvfv
Ignore glTexEnvi
Ignore glTexEnviv
Ignore glTexEnvxv
Ignore glTexEnvxvOES
Ignore glTexGenfOES
Ignore glTexGenfvOES
Ignore glTexGeniOES
Ignore glTexGenivOES
Ignore glTexGenxvOES
Ignore glTexParameterxv
Ignore glTexParameterxvOES
Ignore glTranslatef
Ignore glUniform1f
Ignore glUniform1fv
Ignore glUniform1i
Ignore glUniform1iv
Ignore glUniform2f
Ignore glUniform2fv
Ignore glUniform2i
Ignore glUniform2iv
Ignore glUniform3f
Ignore glUniform3fv
Ignore glUniform3i
Ignore glUniform3iv
Ignore glUniform4f
Ignore glUniform4fv
Ignore glUniform4i
Ignore glUniform4iv
Ignore glUniformMatrix2fv
Ignore glUniformMatrix3fv
Ignore glUniformMatrix4fv
Ignore glUseProgram
Ignore glValidateProgram
Ignore glVertexAttrib1f
Ignore glVertexAttrib1fv
Ignore glVertexAttrib2f
Ignore glVertexAttrib2fv
Ignore glVertexAttrib3f
Ignore glVertexAttrib3fv
Ignore glVertexAttrib4f
Ignore glVertexAttrib4fv
Ignore glVertexAttribPointer
Ignore glVertexPointer
Ignore glWeightPointerOES
