# Ignoring API only available on ES3
#

DropUniqVendorExtensions ANGLE
DropUniqVendorExtensions ARM
DropUniqVendorExtensions APPLE
DropUniqVendorExtensions ATI
DropUniqVendorExtensions IMG
DropUniqVendorExtensions QCOM
DropUniqVendorExtensions NV
DropUniqVendorExtensions VIV

Ignore glEGL.*

IgnoreExtension GL_AMD_compressed_3DC_texture
IgnoreExtension GL_AMD_compressed_ATC_texture
IgnoreExtension GL_AMD_program_binary_Z400
IgnoreExtension GL_AMD_performance_monitor

IgnoreExtension GL_ANGLE_depth_texture
IgnoreExtension GL_ANGLE_instanced_arrays
IgnoreExtension GL_ANGLE_pack_reverse_row_order
IgnoreExtension GL_ANGLE_program_binary
IgnoreExtension GL_ANGLE_texture_compression_dxt3
IgnoreExtension GL_ANGLE_texture_compression_dxt5
IgnoreExtension GL_ANGLE_texture_usage
IgnoreExtension GL_ANGLE_translated_shader_source
IgnoreExtension GL_EXT_debug_label
IgnoreExtension GL_EXT_debug_marker
IgnoreExtension GL_EXT_discard_framebuffer
IgnoreExtension GL_EXT_draw_buffers
IgnoreExtension GL_EXT_multisampled_render_to_texture
IgnoreExtension GL_EXT_multiview_draw_buffers
IgnoreExtension GL_EXT_shader_framebuffer_fetch
IgnoreExtension GL_OES_compressed_paletted_texture
IgnoreExtension GL_OES_compressed_ETC1_RGB8_texture
IgnoreExtension GL_OES_vertex_array_object
IgnoreExtension GL_OES_vertex_half_float
IgnoreExtension GL_OES_surfaceless_context
IgnoreExtension GL_OES_texture_half_float
IgnoreExtension GL_OES_EGL_image_external
IgnoreExtension GL_FJ_shader_binary_GCCSO

#
# Ignored new extensions added in gl2ext.h ]2013-06-25..2015-01-26]
# see jogl/make/scripts/diff-gl2ext.sh
#
IgnoreExtension GL_ANDROID_extension_pack_es31a
IgnoreExtension GL_APPLE_clip_distance
IgnoreExtension GL_APPLE_color_buffer_packed_float
IgnoreExtension GL_APPLE_texture_packed_float
IgnoreExtension GL_ARM_shader_framebuffer_fetch
IgnoreExtension GL_ARM_shader_framebuffer_fetch_depth_stencil
IgnoreExtension GL_DMP_program_binary
IgnoreExtension GL_EXT_draw_buffers_indexed
IgnoreExtension GL_EXT_draw_elements_base_vertex
IgnoreExtension GL_EXT_draw_instanced
IgnoreExtension GL_EXT_geometry_point_size
IgnoreExtension GL_EXT_geometry_shader
IgnoreExtension GL_EXT_gpu_shader5
IgnoreExtension GL_EXT_instanced_arrays
IgnoreExtension GL_EXT_multi_draw_indirect
IgnoreExtension GL_EXT_primitive_bounding_box
IgnoreExtension GL_EXT_pvrtc_sRGB
IgnoreExtension GL_EXT_render_snorm
IgnoreExtension GL_EXT_shader_implicit_conversions
IgnoreExtension GL_EXT_shader_integer_mix
IgnoreExtension GL_EXT_shader_io_blocks
IgnoreExtension GL_EXT_shader_pixel_local_storage
IgnoreExtension GL_EXT_tessellation_point_size
IgnoreExtension GL_EXT_tessellation_shader
#IgnoreExtension GL_EXT_texture_border_clamp
IgnoreExtension GL_EXT_texture_buffer
#IgnoreExtension GL_EXT_texture_compression_s3tc
IgnoreExtension GL_EXT_texture_cube_map_array
IgnoreExtension GL_EXT_texture_norm16
IgnoreExtension GL_EXT_texture_sRGB_decode
IgnoreExtension GL_EXT_texture_view
IgnoreExtension GL_INTEL_performance_query
IgnoreExtension GL_KHR_blend_equation_advanced
#IgnoreExtension GL_KHR_blend_equation_advanced_coherent
IgnoreExtension GL_KHR_context_flush_control
IgnoreExtension GL_KHR_robust_buffer_access_behavior
IgnoreExtension GL_KHR_robustness
IgnoreExtension GL_KHR_texture_compression_astc_hdr
IgnoreExtension GL_NV_bindless_texture
IgnoreExtension GL_NV_blend_equation_advanced
IgnoreExtension GL_NV_blend_equation_advanced_coherent
IgnoreExtension GL_NV_conditional_render
IgnoreExtension GL_NV_copy_buffer
IgnoreExtension GL_NV_explicit_attrib_location
IgnoreExtension GL_NV_image_formats
IgnoreExtension GL_NV_internalformat_sample_query
IgnoreExtension GL_NV_non_square_matrices
IgnoreExtension GL_NV_path_rendering
IgnoreExtension GL_NV_shader_noperspective_interpolation
IgnoreExtension GL_NV_viewport_array
IgnoreExtension GL_OES_compressed_ETC1_RGB8_sub_texture
IgnoreExtension GL_OES_draw_buffers_indexed
IgnoreExtension GL_OES_draw_elements_base_vertex
IgnoreExtension GL_OES_EGL_image_external_essl3
IgnoreExtension GL_OES_geometry_point_size
IgnoreExtension GL_OES_geometry_shader
IgnoreExtension GL_OES_gpu_shader5
IgnoreExtension GL_OES_primitive_bounding_box
IgnoreExtension GL_OES_sample_shading
IgnoreExtension GL_OES_sample_variables
IgnoreExtension GL_OES_shader_image_atomic
IgnoreExtension GL_OES_shader_io_blocks
IgnoreExtension GL_OES_shader_multisample_interpolation
IgnoreExtension GL_OES_tessellation_point_size
IgnoreExtension GL_OES_tessellation_shader
#IgnoreExtension GL_OES_texture_border_clamp
IgnoreExtension GL_OES_texture_buffer
IgnoreExtension GL_OES_texture_compression_astc
IgnoreExtension GL_OES_texture_cube_map_array
IgnoreExtension GL_OES_texture_stencil8
IgnoreExtension GL_OES_texture_storage_multisample_2d_array
IgnoreExtension GL_OES_texture_view

#
# Ignored new extensions added in gl2ext.h 2015-10-06
# see jogl/make/scripts/diff-gl2ext.sh
# FIXME: Refine for 2.4.0
#
IgnoreExtension GL_KHR_no_error
IgnoreExtension GL_EXT_YUV_target
IgnoreExtension GL_EXT_blend_func_extended
IgnoreExtension GL_EXT_buffer_storage
IgnoreExtension GL_EXT_color_buffer_float
IgnoreExtension GL_EXT_float_blend
IgnoreExtension GL_EXT_multisampled_compatibility
IgnoreExtension GL_EXT_post_depth_coverage
IgnoreExtension GL_EXT_raster_multisample
IgnoreExtension GL_EXT_sparse_texture
IgnoreExtension GL_EXT_texture_filter_minmax
IgnoreExtension GL_EXT_texture_sRGB_R8
IgnoreExtension GL_EXT_texture_sRGB_RG8
IgnoreExtension GL_OVR_multiview
IgnoreExtension GL_OVR_multiview2

#
# as added in GLES2/gl2ext.h
#
IgnoreExtension GL_EXT_blend_func_extended
IgnoreExtension GL_EXT_gpu_shader4

# includes GL_STATE_RESTORE, which hasn't the QCOM suffix
IgnoreExtension GL_QCOM_extended_get
Ignore GL_STATE_RESTORE

Ignore GL_FRAMEBUFFER_ATTACHMENT_TEXTURE_3D_ZOFFSET
