# This .cfg file is used to generate the GL interface and implementing class.
Package javax.media.opengl
Style InterfaceOnly
JavaClass GL2ES2
Extends GL2ES2 GLBase
Extends GL2ES2 GL

ExtendedInterfaceSymbolsIgnore ../build-temp/gensrc/classes/javax/media/opengl/GL.java
ExtendedInterfaceSymbolsIgnore ../src/jogl/classes/javax/media/opengl/GLBase.java
HierarchicalNativeOutput false
Include gl-common.cfg
Include gl-common-extensions.cfg

JavaOutputDir gensrc/classes
NativeOutputDir gensrc/native/jogl

# Ignore all ES 2.X only stuff ..
# Ignore ^gl.*x(v)?(OES)?
Ignore glGetShaderPrecisionFormat
Ignore glEGL.*
#Ignore glFramebufferVertexAttribArrayNV
#Ignore glCoverageOperationNV
#Ignore glCoverageMaskNV

CustomJavaCode GL2ES2 public void glClearDepth( double depth );
CustomJavaCode GL2ES2 public void glDepthRange(double zNear, double zFar);

EmitProcAddressTable false
ProcAddressTableClassName DontGenerateProcAddressTableStuff
GetProcAddressTableExpr DontGenerateProcAddressTableStuff

# Inform the glue code generator of the association between #defines
# and functions and the extensions in which they are defined
GLHeader GLES2/gl2.h
GLHeader GLES2/gl2ext.h
GLHeader GL/gl.h
GLHeader GL/glext.h

# Pick up on-line OpenGL javadoc thanks to user cylab on javagaming.org forums
TagNativeBinding true

CustomJavaCode GL2ES2  public void glVertexAttribPointer(GLArrayData array);
CustomJavaCode GL2ES2  public void glUniform(GLUniformData data);
CustomJavaCode GL2ES2

Import java.io.PrintStream

