# This .cfg file is used to generate the GL interface and implementing class.
Package com.jogamp.opengl
Style InterfaceOnly
JavaClass GL2GL3
#Extends GL2GL3 GLBase
#Extends GL2GL3 GL
#Extends GL2GL3 GL2ES2
Extends GL2GL3 GL2ES3

# Inform the glue code generator of the association between #defines
# and functions and the extensions in which they are defined
# _for_ code generation. This shall match the parsed header files!
GLSemHeader GL/gl.h
GLSemHeader GL/glext-supplement.h
GLSemHeader GL/glext-20130207.h
GLSemHeader GL/glext.h

ExtendedInterfaceSymbolsIgnore ../build-temp/gensrc/classes/com/jogamp/opengl/GL.java
ExtendedInterfaceSymbolsIgnore ../build-temp/gensrc/classes/com/jogamp/opengl/GL2ES2.java
ExtendedInterfaceSymbolsIgnore ../build-temp/gensrc/classes/com/jogamp/opengl/GL2ES3.java
ExtendedInterfaceSymbolsIgnore ../src/jogl/classes/com/jogamp/opengl/GLBase.java

ExtendedInterfaceSymbolsOnly ../build-temp/gluegen-set/com/jogamp/opengl/GL2GL3Subset.java

HierarchicalNativeOutput false
Include gl-common.cfg
Include gl-common-gpubufferonly.cfg
Include gl-common-extensions.cfg
Include gl-desktop.cfg
Include gl-embedded-ignores.cfg
Include gl3-common.cfg
Include gl-if-gl4-ignores.cfg

JavaOutputDir gensrc/classes
NativeOutputDir gensrc/native/jogl

#
# Same name but different signature ..
# No collisions found .. good!

# dummy procaddress config / force procaddress for comments
EmitProcAddressTable false
ProcAddressTableClassName DontGenerateProcAddressTableStuff
GetProcAddressTableExpr DontGenerateProcAddressTableStuff
ForceProcAddressGen __ALL__

# Also force the calling conventions of the locally generated function
# pointer typedefs for these routines to APIENTRY
LocalProcAddressCallingConvention __ALL__ APIENTRY

# Pick up on-line OpenGL javadoc thanks to user cylab on javagaming.org forums
TagNativeBinding true

# Ignore extensions that are already picked up via the GL2ES1 interface
IgnoreExtension GL_EXT_point_parameters

Import java.io.PrintStream
