# This .cfg file is used to generate the GL interface and implementing class.
Package javax.media.opengl
Style InterfaceOnly
JavaClass GL
Extends GL GLBase

ExtendedInterfaceSymbolsIgnore ../src/jogl/classes/javax/media/opengl/GLBase.java

HierarchicalNativeOutput false
Include gl-common.cfg
Include gl-common-extensions.cfg
Include gl-if-gl-ignores.cfg

JavaOutputDir gensrc/classes
NativeOutputDir gensrc/native/jogl

Import javax.media.opengl.GLES1
Import javax.media.opengl.GLES2
Import javax.media.opengl.GL2

# Ignore all ES 2.X only stuff ..
Ignore ^gl.*x
Ignore ^gl.*xOES
Ignore glEGL.*

EmitProcAddressTable false
ProcAddressTableClassName DontGenerateProcAddressTableStuff
GetProcAddressTableExpr DontGenerateProcAddressTableStuff

# Inform the glue code generator of the association between #defines
# and functions and the extensions in which they are defined
GLHeader GLES2/gl2.h
GLHeader GLES2/gl2ext.h
GLHeader GL/gl.h
GLHeader GL/glext.h

# Pick up on-line OpenGL javadoc thanks to user cylab on javagaming.org forums
TagNativeBinding true

IncludeAs CustomJavaCode GL gl-if-CustomJavaCode-gl.java
