# Ignoring API only available on GL4
#

#
# Generated Configuration File
# Use make-glextension-depignore.sh to update!
#

#
# OpenGL 4.x dependencies
#
IgnoreExtension GL_VERSION_4_0
IgnoreExtension GL_VERSION_4_1
IgnoreExtension GL_VERSION_4_2
IgnoreExtension GL_VERSION_4_3
IgnoreExtension GL_VERSION_4_4
IgnoreExtension GL_VERSION_4_5
IgnoreExtension GL_VERSION_4_6

# Ignore extensions written against GL 4.0
IgnoreExtension GL_ARB_shader_precision
#IgnoreExtension GL_ARB_separate_shader_objects
#IgnoreExtension GL_EXT_separate_shader_objects
# Ignore extensions requiring GL 4.0
IgnoreExtension GL_ARB_shader_storage_buffer_object
IgnoreExtension GL_ARB_bindless_texture
IgnoreExtension GL_ARB_derivative_control
# Ignore extensions written against GL 4.2
IgnoreExtension GL_ARB_vertex_attrib_binding
IgnoreExtension GL_ARB_program_interface_query
# Ignore extensions requiring GL 4.2
IgnoreExtension GL_ARB_compute_shader
IgnoreExtension GL_ARB_compute_variable_group_size
IgnoreExtension GL_ARB_shader_group_vote
IgnoreExtension GL_ARB_shader_image_size
IgnoreExtension GL_ARB_indirect_parameters
IgnoreExtension GL_ARB_texture_view
IgnoreExtension GL_EXT_texture_view
IgnoreExtension GL_OES_texture_view
# Ignore extensions requiring GL 4.3
IgnoreExtension GL_ARB_shader_texture_image_samples
# Ignore extensions requiring GL 4.4
IgnoreExtension GL_ARB_ES3_1_compatibility
# Ignore extensions requiring GL 4.5

