# This .cfg file is used to generate the GLU implementation for OpenGL ES 1.0,
# where it is pure Java.
JavaOutputDir gensrc/classes
NativeOutputDir gensrc/native/jogl/gl2es1

Style ImplOnly
ImplPackage javax.media.opengl.glu.gl2es1
ImplJavaClass GLUgl2es1
ParentClass GLUgl2es1 GLU

Ignore gluBuild1DMipmapLevels
Ignore gluBuild1DMipmaps
Ignore gluBuild2DMipmapLevels
Ignore gluBuild2DMipmaps
Ignore gluBuild3DMipmapLevels
Ignore gluBuild3DMipmaps
Ignore gluScaleImage

# Custom Java code for GLU class
IncludeAs CustomJavaCode GLUgl2es1 glu-CustomJavaCode-gl2es1.java

Import javax.media.opengl.GLES1
Import com.sun.opengl.impl.glu.mipmap.Mipmap


Include glu-common.cfg
