# The NativeSignatureEmitter can not yet handle some constructs
Ignore glColorPointerListIBM
Ignore glColorPointervINTEL
Ignore glEdgeFlagPointerListIBM
Ignore glFogCoordPointerListIBM
Ignore glIndexPointerListIBM
Ignore glMultiDrawElements
Ignore glMultiDrawElementsEXT
Ignore glMultiModeDrawElementsIBM
Ignore glNormalPointerListIBM
Ignore glNormalPointervINTEL
Ignore glReplacementCodePointerSUN
Ignore glSecondaryColorPointerListIBM
Ignore glTexCoordPointerListIBM
Ignore glTexCoordPointervINTEL
Ignore glVertexPointerListIBM
Ignore glVertexPointervINTEL
Ignore glShaderSource
Ignore glShaderSourceARB
Ignore glGetSeparableFilter
Ignore glGetSeparableFilterEXT
Ignore glGetShaderSourceARB
