# This .cfg file is used to generate the interface to the wgl routines
# used internally by the WindowsGLContext implementation.
JavaOutputDir gensrc/classes
NativeOutputDir gensrc/native/jogl/Windows

Package com.sun.opengl.impl.windows.wgl
JavaClass WGL
Style allstatic
Include gl-common.cfg
Include gl-common-extensions.cfg
Include gl-desktop.cfg

AllowNonGLExtensions true

GLHeader wingdi.h
GLHeader GL/wglext.h

# Implement the first argument to wglGetProcAddress as String instead
# of byte[]
ArgumentIsString wglGetProcAddress 0
ArgumentIsString LoadLibraryA 0
ArgumentIsString GetProcAddress 1

CustomCCode #define WIN32_LEAN_AND_MEAN
CustomCCode #include <windows.h>
CustomCCode #undef WIN32_LEAN_AND_MEAN

CustomCCode #include <wingdi.h>
CustomCCode #include <stddef.h>

Include ../intptr.cfg

IncludeAs CustomCCode wgl-CustomCCode.c

DropUniqVendorExtensions AMD
# We need GL_APPLE_float_pixels for our pbuffer implementation
# DropUniqVendorExtensions APPLE
DropUniqVendorExtensions ATI
DropUniqVendorExtensions HP
DropUniqVendorExtensions IBM
DropUniqVendorExtensions MESA
DropUniqVendorExtensions MESAX
DropUniqVendorExtensions NV
DropUniqVendorExtensions SGI
DropUniqVendorExtensions SGIS
DropUniqVendorExtensions SGIX
DropUniqVendorExtensions SUN
DropUniqVendorExtensions WIN

