# This .cfg file provides common options used among all GL glue code
# generated for Jogl on Windows.

HierarchicalNativeOutput false
Include gl-common.cfg

# XID needs to be treated as a long for 32/64 bit compatibility
Opaque long XID
