# This .cfg file provides common options used among all glue code
# generated for Jogl on X11.
HierarchicalNativeOutput false
Include gl-common.cfg
JavaOutputDir ../build/gensrc/classes
NativeOutputDir ../build/gensrc/native/jogl

# XID needs to be treated as a long for 32/64 bit compatibility
Opaque long XID

# Get returned array's capacity from XGetVisualInfo to be correct
TemporaryCVariableDeclaration XGetVisualInfo int count;
TemporaryCVariableAssignment  XGetVisualInfo count = _ptr3[0];
ReturnValueCapacity XGetVisualInfo               count * sizeof(XVisualInfo)
ReturnedArrayLength XGetVisualInfo               {3}[0]
ReturnValueCapacity glXChooseVisual              sizeof(XVisualInfo)
ReturnValueCapacity glXGetVisualFromFBConfig     sizeof(XVisualInfo)
ReturnValueCapacity glXGetVisualFromFBConfigSGIX sizeof(XVisualInfo)
# Elide the version of XGetVisualInfo taking a direct buffer for the third argument
# (since we can't specify different glue code for different overloadings -- FIXME)
NoNio XGetVisualInfo

Unimplemented cgl.+
Unimplemented wgl.+
