# This .cfg file is used to generate the GL interface and implementing class.
JavaOutputDir ../build/gensrc/classes
NativeOutputDir ../build/gensrc/native/jogl/es2

Package javax.media.opengl
Style InterfaceAndImpl
JavaClass GLES2
Extends GLES2 GL
Extends GLES2 GL2ES2
ImplPackage com.sun.opengl.impl.es2
ImplJavaClass GLES2Impl
Implements GLES2Impl GL
Implements GLES2Impl GL2ES2
HierarchicalNativeOutput false
Include gl-common.cfg
Include gl-ignore-gl2_es-enums.cfg
Include gl-ignore-gl2_es2-enums.cfg

EmitProcAddressTable true
ProcAddressTableClassName GLES2ProcAddressTable
GetProcAddressTableExpr ((GLES2ProcAddressTable)_context.getGLProcAddressTable())

# Inform the glue code generator of the association between #defines
# and functions and the extensions in which they are defined
GLHeader GLES2/gl2.h
GLHeader GLES2/gl2ext.h

# Force all of the methods to be emitted using dynamic linking so we
# don't need to link against any emulation library on the desktop or
# depend on the presence of an import library for a particular device
ForceProcAddressGen glActiveTexture
ForceProcAddressGen glAttachShader
ForceProcAddressGen glBindAttribLocation
ForceProcAddressGen glBindBuffer
ForceProcAddressGen glBindFramebuffer
ForceProcAddressGen glBindRenderbuffer
ForceProcAddressGen glBindTexture
ForceProcAddressGen glBlendColor
ForceProcAddressGen glBlendEquation
ForceProcAddressGen glBlendEquationSeparate
ForceProcAddressGen glBlendFunc
ForceProcAddressGen glBlendFuncSeparate
ForceProcAddressGen glBufferData
ForceProcAddressGen glBufferSubData
ForceProcAddressGen glCheckFramebufferStatus
ForceProcAddressGen glClear
ForceProcAddressGen glClearColor
ForceProcAddressGen glClearDepthf
ForceProcAddressGen glClearStencil
ForceProcAddressGen glColorMask
ForceProcAddressGen glCompileShader
ForceProcAddressGen glCompressedTexImage2D
ForceProcAddressGen glCompressedTexSubImage2D
ForceProcAddressGen glCopyTexImage2D
ForceProcAddressGen glCopyTexSubImage2D
ForceProcAddressGen glCreateProgram
ForceProcAddressGen glCreateShader
ForceProcAddressGen glCullFace
ForceProcAddressGen glDeleteBuffers
ForceProcAddressGen glDeleteFramebuffers
ForceProcAddressGen glDeleteTextures
ForceProcAddressGen glDeleteProgram
ForceProcAddressGen glDeleteRenderbuffers
ForceProcAddressGen glDeleteShader
ForceProcAddressGen glDetachShader
ForceProcAddressGen glDepthFunc
ForceProcAddressGen glDepthMask
ForceProcAddressGen glDepthRangef
ForceProcAddressGen glDisable
ForceProcAddressGen glDisableVertexAttribArray
ForceProcAddressGen glDrawArrays
ForceProcAddressGen glDrawElements
ForceProcAddressGen glEnable
ForceProcAddressGen glEnableVertexAttribArray
ForceProcAddressGen glFinish
ForceProcAddressGen glFlush
ForceProcAddressGen glFramebufferRenderbuffer
ForceProcAddressGen glFramebufferTexture2D
ForceProcAddressGen glFrontFace
ForceProcAddressGen glGenBuffers
ForceProcAddressGen glGenerateMipmap
ForceProcAddressGen glGenFramebuffers
ForceProcAddressGen glGenRenderbuffers
ForceProcAddressGen glGenTextures
ForceProcAddressGen glGetActiveAttrib
ForceProcAddressGen glGetActiveUniform
ForceProcAddressGen glGetAttachedShaders
ForceProcAddressGen glGetAttribLocation
ForceProcAddressGen glGetBooleanv
ForceProcAddressGen glGetBufferParameteriv
ForceProcAddressGen glGetError
ForceProcAddressGen glGetFloatv
ForceProcAddressGen glGetFramebufferAttachmentParameteriv
ForceProcAddressGen glGetIntegerv
ForceProcAddressGen glGetProgramiv
ForceProcAddressGen glGetProgramInfoLog
ForceProcAddressGen glGetRenderbufferParameteriv
ForceProcAddressGen glGetShaderiv
ForceProcAddressGen glGetShaderInfoLog
ForceProcAddressGen glGetShaderPrecisionFormat
ForceProcAddressGen glGetShaderSource
ForceProcAddressGen glGetString
ForceProcAddressGen glGetTexParameterfv
ForceProcAddressGen glGetTexParameteriv
ForceProcAddressGen glGetUniformfv
ForceProcAddressGen glGetUniformiv
ForceProcAddressGen glGetUniformLocation
ForceProcAddressGen glGetVertexAttribfv
ForceProcAddressGen glGetVertexAttribiv
ForceProcAddressGen glGetVertexAttribPointerv
ForceProcAddressGen glHint
ForceProcAddressGen glIsBuffer
ForceProcAddressGen glIsEnabled
ForceProcAddressGen glIsFramebuffer
ForceProcAddressGen glIsProgram
ForceProcAddressGen glIsRenderbuffer
ForceProcAddressGen glIsShader
ForceProcAddressGen glIsTexture
ForceProcAddressGen glLineWidth
ForceProcAddressGen glLinkProgram
ForceProcAddressGen glPixelStorei
ForceProcAddressGen glPolygonOffset
ForceProcAddressGen glReadPixels
ForceProcAddressGen glReleaseShaderCompiler
ForceProcAddressGen glRenderbufferStorage
ForceProcAddressGen glSampleCoverage
ForceProcAddressGen glScissor
ForceProcAddressGen glShaderBinary
ForceProcAddressGen glShaderSource
ForceProcAddressGen glStencilFunc
ForceProcAddressGen glStencilFuncSeparate
ForceProcAddressGen glStencilMask
ForceProcAddressGen glStencilMaskSeparate
ForceProcAddressGen glStencilOp
ForceProcAddressGen glStencilOpSeparate
ForceProcAddressGen glTexImage2D
ForceProcAddressGen glTexParameterf
ForceProcAddressGen glTexParameterfv
ForceProcAddressGen glTexParameteri
ForceProcAddressGen glTexParameteriv
ForceProcAddressGen glTexSubImage2D
ForceProcAddressGen glUniform1f
ForceProcAddressGen glUniform1fv
ForceProcAddressGen glUniform1i
ForceProcAddressGen glUniform1iv
ForceProcAddressGen glUniform2f
ForceProcAddressGen glUniform2fv
ForceProcAddressGen glUniform2i
ForceProcAddressGen glUniform2iv
ForceProcAddressGen glUniform3f
ForceProcAddressGen glUniform3fv
ForceProcAddressGen glUniform3i
ForceProcAddressGen glUniform3iv
ForceProcAddressGen glUniform4f
ForceProcAddressGen glUniform4fv
ForceProcAddressGen glUniform4i
ForceProcAddressGen glUniform4iv
ForceProcAddressGen glUniformMatrix2fv
ForceProcAddressGen glUniformMatrix3fv
ForceProcAddressGen glUniformMatrix4fv
ForceProcAddressGen glUseProgram
ForceProcAddressGen glValidateProgram
ForceProcAddressGen glVertexAttrib1f
ForceProcAddressGen glVertexAttrib1fv
ForceProcAddressGen glVertexAttrib2f
ForceProcAddressGen glVertexAttrib2fv
ForceProcAddressGen glVertexAttrib3f
ForceProcAddressGen glVertexAttrib3fv
ForceProcAddressGen glVertexAttrib4f
ForceProcAddressGen glVertexAttrib4fv
ForceProcAddressGen glVertexAttribPointer
ForceProcAddressGen glViewport

# Also force the calling conventions of the locally generated function
# pointer typedefs for these routines to GL_APIENTRY
LocalProcAddressCallingConvention glActiveTexture GL_APIENTRY
LocalProcAddressCallingConvention glAttachShader GL_APIENTRY
LocalProcAddressCallingConvention glBindAttribLocation GL_APIENTRY
LocalProcAddressCallingConvention glBindBuffer GL_APIENTRY
LocalProcAddressCallingConvention glBindFramebuffer GL_APIENTRY
LocalProcAddressCallingConvention glBindRenderbuffer GL_APIENTRY
LocalProcAddressCallingConvention glBindTexture GL_APIENTRY
LocalProcAddressCallingConvention glBlendColor GL_APIENTRY
LocalProcAddressCallingConvention glBlendEquation GL_APIENTRY
LocalProcAddressCallingConvention glBlendEquationSeparate GL_APIENTRY
LocalProcAddressCallingConvention glBlendFunc GL_APIENTRY
LocalProcAddressCallingConvention glBlendFuncSeparate GL_APIENTRY
LocalProcAddressCallingConvention glBufferData GL_APIENTRY
LocalProcAddressCallingConvention glBufferSubData GL_APIENTRY
LocalProcAddressCallingConvention glCheckFramebufferStatus GL_APIENTRY
LocalProcAddressCallingConvention glClear GL_APIENTRY
LocalProcAddressCallingConvention glClearColor GL_APIENTRY
LocalProcAddressCallingConvention glClearDepthf GL_APIENTRY
LocalProcAddressCallingConvention glClearStencil GL_APIENTRY
LocalProcAddressCallingConvention glColorMask GL_APIENTRY
LocalProcAddressCallingConvention glCompileShader GL_APIENTRY
LocalProcAddressCallingConvention glCompressedTexImage2D GL_APIENTRY
LocalProcAddressCallingConvention glCompressedTexSubImage2D GL_APIENTRY
LocalProcAddressCallingConvention glCopyTexImage2D GL_APIENTRY
LocalProcAddressCallingConvention glCopyTexSubImage2D GL_APIENTRY
LocalProcAddressCallingConvention glCreateProgram GL_APIENTRY
LocalProcAddressCallingConvention glCreateShader GL_APIENTRY
LocalProcAddressCallingConvention glCullFace GL_APIENTRY
LocalProcAddressCallingConvention glDeleteBuffers GL_APIENTRY
LocalProcAddressCallingConvention glDeleteFramebuffers GL_APIENTRY
LocalProcAddressCallingConvention glDeleteTextures GL_APIENTRY
LocalProcAddressCallingConvention glDeleteProgram GL_APIENTRY
LocalProcAddressCallingConvention glDeleteRenderbuffers GL_APIENTRY
LocalProcAddressCallingConvention glDeleteShader GL_APIENTRY
LocalProcAddressCallingConvention glDetachShader GL_APIENTRY
LocalProcAddressCallingConvention glDepthFunc GL_APIENTRY
LocalProcAddressCallingConvention glDepthMask GL_APIENTRY
LocalProcAddressCallingConvention glDepthRangef GL_APIENTRY
LocalProcAddressCallingConvention glDisable GL_APIENTRY
LocalProcAddressCallingConvention glDisableVertexAttribArray GL_APIENTRY
LocalProcAddressCallingConvention glDrawArrays GL_APIENTRY
LocalProcAddressCallingConvention glDrawElements GL_APIENTRY
LocalProcAddressCallingConvention glEnable GL_APIENTRY
LocalProcAddressCallingConvention glEnableVertexAttribArray GL_APIENTRY
LocalProcAddressCallingConvention glFinish GL_APIENTRY
LocalProcAddressCallingConvention glFlush GL_APIENTRY
LocalProcAddressCallingConvention glFramebufferRenderbuffer GL_APIENTRY
LocalProcAddressCallingConvention glFramebufferTexture2D GL_APIENTRY
LocalProcAddressCallingConvention glFrontFace GL_APIENTRY
LocalProcAddressCallingConvention glGenBuffers GL_APIENTRY
LocalProcAddressCallingConvention glGenerateMipmap GL_APIENTRY
LocalProcAddressCallingConvention glGenFramebuffers GL_APIENTRY
LocalProcAddressCallingConvention glGenRenderbuffers GL_APIENTRY
LocalProcAddressCallingConvention glGenTextures GL_APIENTRY
LocalProcAddressCallingConvention glGetActiveAttrib GL_APIENTRY
LocalProcAddressCallingConvention glGetActiveUniform GL_APIENTRY
LocalProcAddressCallingConvention glGetAttachedShaders GL_APIENTRY
LocalProcAddressCallingConvention glGetAttribLocation GL_APIENTRY
LocalProcAddressCallingConvention glGetBooleanv GL_APIENTRY
LocalProcAddressCallingConvention glGetBufferParameteriv GL_APIENTRY
LocalProcAddressCallingConvention glGetError GL_APIENTRY
LocalProcAddressCallingConvention glGetFloatv GL_APIENTRY
LocalProcAddressCallingConvention glGetFramebufferAttachmentParameteriv GL_APIENTRY
LocalProcAddressCallingConvention glGetIntegerv GL_APIENTRY
LocalProcAddressCallingConvention glGetProgramiv GL_APIENTRY
LocalProcAddressCallingConvention glGetProgramInfoLog GL_APIENTRY
LocalProcAddressCallingConvention glGetRenderbufferParameteriv GL_APIENTRY
LocalProcAddressCallingConvention glGetShaderiv GL_APIENTRY
LocalProcAddressCallingConvention glGetShaderInfoLog GL_APIENTRY
LocalProcAddressCallingConvention glGetShaderPrecisionFormat GL_APIENTRY
LocalProcAddressCallingConvention glGetShaderSource GL_APIENTRY
LocalProcAddressCallingConvention glGetString GL_APIENTRY
LocalProcAddressCallingConvention glGetTexParameterfv GL_APIENTRY
LocalProcAddressCallingConvention glGetTexParameteriv GL_APIENTRY
LocalProcAddressCallingConvention glGetUniformfv GL_APIENTRY
LocalProcAddressCallingConvention glGetUniformiv GL_APIENTRY
LocalProcAddressCallingConvention glGetUniformLocation GL_APIENTRY
LocalProcAddressCallingConvention glGetVertexAttribfv GL_APIENTRY
LocalProcAddressCallingConvention glGetVertexAttribiv GL_APIENTRY
LocalProcAddressCallingConvention glGetVertexAttribPointerv GL_APIENTRY
LocalProcAddressCallingConvention glHint GL_APIENTRY
LocalProcAddressCallingConvention glIsBuffer GL_APIENTRY
LocalProcAddressCallingConvention glIsEnabled GL_APIENTRY
LocalProcAddressCallingConvention glIsFramebuffer GL_APIENTRY
LocalProcAddressCallingConvention glIsProgram GL_APIENTRY
LocalProcAddressCallingConvention glIsRenderbuffer GL_APIENTRY
LocalProcAddressCallingConvention glIsShader GL_APIENTRY
LocalProcAddressCallingConvention glIsTexture GL_APIENTRY
LocalProcAddressCallingConvention glLineWidth GL_APIENTRY
LocalProcAddressCallingConvention glLinkProgram GL_APIENTRY
LocalProcAddressCallingConvention glPixelStorei GL_APIENTRY
LocalProcAddressCallingConvention glPolygonOffset GL_APIENTRY
LocalProcAddressCallingConvention glReadPixels GL_APIENTRY
LocalProcAddressCallingConvention glReleaseShaderCompiler GL_APIENTRY
LocalProcAddressCallingConvention glRenderbufferStorage GL_APIENTRY
LocalProcAddressCallingConvention glSampleCoverage GL_APIENTRY
LocalProcAddressCallingConvention glScissor GL_APIENTRY
LocalProcAddressCallingConvention glShaderBinary GL_APIENTRY
LocalProcAddressCallingConvention glShaderSource GL_APIENTRY
LocalProcAddressCallingConvention glStencilFunc GL_APIENTRY
LocalProcAddressCallingConvention glStencilFuncSeparate GL_APIENTRY
LocalProcAddressCallingConvention glStencilMask GL_APIENTRY
LocalProcAddressCallingConvention glStencilMaskSeparate GL_APIENTRY
LocalProcAddressCallingConvention glStencilOp GL_APIENTRY
LocalProcAddressCallingConvention glStencilOpSeparate GL_APIENTRY
LocalProcAddressCallingConvention glTexImage2D GL_APIENTRY
LocalProcAddressCallingConvention glTexParameterf GL_APIENTRY
LocalProcAddressCallingConvention glTexParameterfv GL_APIENTRY
LocalProcAddressCallingConvention glTexParameteri GL_APIENTRY
LocalProcAddressCallingConvention glTexParameteriv GL_APIENTRY
LocalProcAddressCallingConvention glTexSubImage2D GL_APIENTRY
LocalProcAddressCallingConvention glUniform1f GL_APIENTRY
LocalProcAddressCallingConvention glUniform1fv GL_APIENTRY
LocalProcAddressCallingConvention glUniform1i GL_APIENTRY
LocalProcAddressCallingConvention glUniform1iv GL_APIENTRY
LocalProcAddressCallingConvention glUniform2f GL_APIENTRY
LocalProcAddressCallingConvention glUniform2fv GL_APIENTRY
LocalProcAddressCallingConvention glUniform2i GL_APIENTRY
LocalProcAddressCallingConvention glUniform2iv GL_APIENTRY
LocalProcAddressCallingConvention glUniform3f GL_APIENTRY
LocalProcAddressCallingConvention glUniform3fv GL_APIENTRY
LocalProcAddressCallingConvention glUniform3i GL_APIENTRY
LocalProcAddressCallingConvention glUniform3iv GL_APIENTRY
LocalProcAddressCallingConvention glUniform4f GL_APIENTRY
LocalProcAddressCallingConvention glUniform4fv GL_APIENTRY
LocalProcAddressCallingConvention glUniform4i GL_APIENTRY
LocalProcAddressCallingConvention glUniform4iv GL_APIENTRY
LocalProcAddressCallingConvention glUniformMatrix2fv GL_APIENTRY
LocalProcAddressCallingConvention glUniformMatrix3fv GL_APIENTRY
LocalProcAddressCallingConvention glUniformMatrix4fv GL_APIENTRY
LocalProcAddressCallingConvention glUseProgram GL_APIENTRY
LocalProcAddressCallingConvention glValidateProgram GL_APIENTRY
LocalProcAddressCallingConvention glVertexAttrib1f GL_APIENTRY
LocalProcAddressCallingConvention glVertexAttrib1fv GL_APIENTRY
LocalProcAddressCallingConvention glVertexAttrib2f GL_APIENTRY
LocalProcAddressCallingConvention glVertexAttrib2fv GL_APIENTRY
LocalProcAddressCallingConvention glVertexAttrib3f GL_APIENTRY
LocalProcAddressCallingConvention glVertexAttrib3fv GL_APIENTRY
LocalProcAddressCallingConvention glVertexAttrib4f GL_APIENTRY
LocalProcAddressCallingConvention glVertexAttrib4fv GL_APIENTRY
LocalProcAddressCallingConvention glVertexAttribPointer GL_APIENTRY
LocalProcAddressCallingConvention glViewport GL_APIENTRY

# Pick up on-line OpenGL javadoc thanks to user cylab on javagaming.org forums
TagNativeBinding true

CustomJavaCode GLES2     public void glClearDepth(double depth);
CustomJavaCode GLES2Impl public void glClearDepth(double depth) {
CustomJavaCode GLES2Impl   glClearDepthf((float)depth); }

CustomJavaCode GLES2     public void glDepthRange(double zNear, double zFar);
CustomJavaCode GLES2Impl public void glDepthRange(double zNear, double zFar) {
CustomJavaCode GLES2Impl   glDepthRangef((float)zNear, (float)zFar); }

CustomCCode /* Define GL_GLEXT_PROTOTYPES so that the OpenGL extension prototypes in
CustomCCode    "glext.h" are parsed. */
CustomCCode #define GL_GLEXT_PROTOTYPES

CustomCCode /* Include the OpenGL headers */
CustomCCode /* #define GL_APICALL __declspec(dllimport) */
CustomCCode #include <GLES2/gl2ext.h>
CustomCCode #include <stdlib.h>
Include intptr.cfg

IncludeAs CustomJavaCode GLES2Impl gl-impl-CustomJavaCode-common.java
IncludeAs CustomJavaCode GLES2Impl gl-impl-CustomJavaCode-gles2.java
IncludeAs CustomCCode gl-impl-CustomCCode.c

Import javax.media.opengl.GLES1
Import javax.media.opengl.GLES2
Import javax.media.opengl.GL2
Import javax.media.opengl.util.BufferUtil

