# This .cfg file is used to generate the interface which contains the
# window system-specific extensions which are exposed (via
# inheritance) to the GL interface.
Package net.java.games.jogl
Style InterfaceOnly
JavaClass GLX
Include gl-common-x11.cfg

# Ignore everything that doesn't start with glX or GLX
IgnoreNot ^(glX|GLX).+

# Pick up ignores that must also be included in other platforms' impl
# files
Include gl-glx-common.cfg	
