# This .cfg file causes the core GLX routines to be ignored from both
# the public API as well as from the GL implementation files on
# non-X11 platforms.

# Ignore all of the core GLX routines, which are exposed only in the
# implementation GLX class
Ignore glXChooseVisual
Ignore glXCreateContext
Ignore glXDestroyContext
Ignore glXMakeCurrent
Ignore glXCopyContext
Ignore glXSwapBuffers
Ignore glXCreateGLXPixmap
Ignore glXDestroyGLXPixmap
Ignore glXQueryExtension
Ignore glXQueryVersion
Ignore glXIsDirect
Ignore glXGetConfig
Ignore glXGetCurrentContext
Ignore glXGetCurrentDrawable
Ignore glXWaitGL
Ignore glXWaitX
Ignore glXUseXFont
Ignore glXQueryExtensionsString
Ignore glXQueryServerString
Ignore glXGetClientString
Ignore glXGetCurrentDisplay
Ignore glXChooseFBConfig
Ignore glXGetFBConfigAttrib
Ignore glXGetFBConfigs
Ignore glXGetVisualFromFBConfig
Ignore glXCreateWindow
Ignore glXDestroyWindow
Ignore glXCreatePixmap
Ignore glXDestroyPixmap
Ignore glXCreatePbuffer
Ignore glXDestroyPbuffer
Ignore glXQueryDrawable
Ignore glXCreateNewContext
Ignore glXMakeContextCurrent
Ignore glXGetCurrentReadDrawable
Ignore glXQueryContext
Ignore glXSelectEvent
Ignore glXGetSelectedEvent
Ignore glXGetProcAddress

# Ignore a few extensions that bring in data types we don't want to
# expose in the public API (and that are useless anyway without
# exposing more of the implementation)
Ignore glXGetFBConfigAttribSGIX
Ignore glXChooseFBConfigSGIX
Ignore glXCreateGLXPixmapWithConfigSGIX
Ignore glXCreateContextWithConfigSGIX
Ignore glXGetVisualFromFBConfigSGIX
Ignore glXGetFBConfigFromVisualSGIX
Ignore glXCreateGLXPbufferSGIX
Ignore glXDestroyGLXPbufferSGIX
Ignore glXQueryGLXPbufferSGIX
Ignore glXSelectEventSGIX
Ignore glXGetSelectedEventSGIX
Ignore glXCreateGLXPixmapMESA

# Now we can ignore the GLXFBConfig and XVisualInfo data types in the
# public API on all platforms
Ignore GLXFBConfig
Ignore XVisualInfo

# Ignore the SGI hyperpipe extension, which will require more GlueGen
# work to expose the pipeName fields in the various structs
Ignore glXQueryHyperpipeNetworkSGIX
Ignore glXHyperpipeConfigSGIX
Ignore glXQueryHyperpipeConfigSGIX
Ignore glXDestroyHyperpipeConfigSGIX
Ignore glXBindHyperpipeSGIX
Ignore glXQueryHyperpipeBestAttribSGIX
Ignore glXHyperpipeAttribSGIX
Ignore glXQueryHyperpipeAttribSGIX
Ignore GLXHyperpipeNetworkSGIX
Ignore GLXHyperpipeConfigSGIX
Ignore GLXPipeRect
Ignore GLXPipeRectLimits

# XID shows up in the public API (and shouldn't -- will be removed in
# the JSR 231/239 APIs) and needs to be treated as a long for now
Opaque long XID
