# This .cfg file is used to generate the interface which contains the
# window system-specific extensions which are exposed (via
# inheritance) to the GL interface.
Package net.java.games.jogl
Style InterfaceOnly
JavaClass WGL
Include gl-common-win32.cfg

# Ignore everything that doesn't start with wgl or WGL
Ignore ^[^wW].+
