# This .cfg file is used to generate the GL interface and implementing class.
Package javax.media.opengl
Style InterfaceAndImpl
JavaClass GL
ImplPackage com.sun.opengl.impl
ImplJavaClass GLImpl
Include gl-common-win32.cfg

EmitProcAddressTable true
ProcAddressTableClassName GLProcAddressTable
GetProcAddressTableExpr _context.getGLProcAddressTable()

# Pick up on-line OpenGL javadoc thanks to user cylab on javagaming.org forums
TagNativeBinding true

CustomCCode #define WIN32_LEAN_AND_MEAN
CustomCCode #include <windows.h>
CustomCCode #undef WIN32_LEAN_AND_MEAN
CustomCCode #include <stdlib.h>
CustomCCode #include <stddef.h>
CustomCCode #include <malloc.h>

CustomCCode /* Define GL_GLEXT_PROTOTYPES so that the OpenGL extension prototypes in
CustomCCode    "glext.h" are parsed. */
CustomCCode #define GL_GLEXT_PROTOTYPES

CustomCCode /* Include the OpenGL headers */
CustomCCode #include <GL/gl.h>

CustomCCode /* This typedef is apparently needed for compilers before VC8 */
CustomCCode #if _MSC_VER < 1400
CustomCCode typedef int intptr_t;
CustomCCode #endif

IncludeAs CustomJavaCode GLImpl gl-impl-CustomJavaCode.java
IncludeAs CustomCCode gl-impl-CustomCCode.c
