# This .cfg file is used to generate the GLU implementation for OpenGL ES 1.0,
# where it is pure Java.
JavaOutputDir gensrc/classes
NativeOutputDir gensrc/native/jogl

Style ImplOnly
ImplPackage javax.media.opengl.glu
ImplJavaClass GLU
AccessControl GLU PUBLIC

Ignore gluBuild1DMipmapLevels
Ignore gluBuild1DMipmaps
Ignore gluBuild2DMipmapLevels
Ignore gluBuild2DMipmaps
Ignore gluBuild3DMipmapLevels
Ignore gluBuild3DMipmaps
Ignore gluScaleImage

# Custom Java code for GLU class
IncludeAs CustomJavaCode GLU glu-CustomJavaCode-base.java

# Imports for the Error and Registry classes
Import com.sun.opengl.impl.glu.error.Error
Import com.sun.opengl.impl.glu.registry.Registry

Include glu-common.cfg

Import java.lang.reflect.*
