# This .cfg file is used to generate the GLU implementation on
# X11.

Include glu-impl-common.cfg

# !! FIXME: Chris doesn't have access to X11 yet, so he
# doesn't know what CustomCCode directives to put in here.



