EmitProcAddressTable true
ProcAddressTablePackage   com.sun.opengl.impl
ProcAddressTableClassName GLUProcAddressTable
GetProcAddressTableExpr   getGLUProcAddressTable()

CustomCCode /* Include the OpenGL GLU header */
CustomCCode #include <GL/glu.h>

# Custom Java code for GLU class
IncludeAs CustomJavaCode GLU glu-CustomJavaCode.java

# GLU needs access to the GLUtesselatorImpl class for GLUtesselator,
# to the Mipmap class for scaling and mipmap generation,
# and to the nurbs.* package for the NURBS functionality
Import com.sun.opengl.impl.tessellator.GLUtessellatorImpl
Import com.sun.opengl.impl.error.Error
Import com.sun.opengl.impl.mipmap.Mipmap
Import com.sun.opengl.impl.registry.Registry
Import com.sun.opengl.impl.nurbs.*
Import com.sun.opengl.util.*
Import java.security.*

#
# ------------------------
#        Mipmaps
# ------------------------
#
# Ignore the C versions of the mipmap code in the public interface and
# use GKW's Java port instead. The bindings to the C entry points are
# still being left in for now, but only for debugging purposes and the
# intent is to remove them in a future release.

# Emit these entry points as private

AccessControl gluBuild1DMipmapLevels PRIVATE
AccessControl gluBuild1DMipmaps      PRIVATE
AccessControl gluBuild2DMipmapLevels PRIVATE
AccessControl gluBuild2DMipmaps      PRIVATE
AccessControl gluBuild3DMipmapLevels PRIVATE
AccessControl gluBuild3DMipmaps      PRIVATE
AccessControl gluScaleImage          PRIVATE

# Rename these methods in the implementing class

RenameJavaMethod gluBuild1DMipmapLevels gluBuild1DMipmapLevelsC
RenameJavaMethod gluBuild1DMipmaps      gluBuild1DMipmapsC
RenameJavaMethod gluBuild2DMipmapLevels gluBuild2DMipmapLevelsC
RenameJavaMethod gluBuild2DMipmaps      gluBuild2DMipmapsC
RenameJavaMethod gluBuild3DMipmapLevels gluBuild3DMipmapLevelsC
RenameJavaMethod gluBuild3DMipmaps      gluBuild3DMipmapsC
RenameJavaMethod gluScaleImage          gluScaleImageC

Include glu-common.cfg
