# This .cfg file is used to generate the interface to the JAWT, which
# is used by the MacOSXOnscreenGLContext.
Style AllStatic
Package com.sun.opengl.impl
JavaClass JAWTFactory
JavaOutputDir ../build/gensrc/classes
NativeOutputDir ../build/gensrc/native/jogl

HierarchicalNativeOutput false

Opaque boolean jboolean
Opaque long void *
Opaque long NSView *

IgnoreField JAWT GetComponent
IgnoreField JAWT_DrawingSurfaceInfo      platformInfo

IncludeAs CustomJavaCode JAWT jawt-CustomJavaCode.java

CustomCCode #include <inttypes.h>
CustomCCode #include <jawt.h>
CustomCCode #include </usr/include/machine/types.h>

import java.security.*
Import com.sun.opengl.impl.JAWT_PlatformInfo
StructPackage JAWT_MacOSXDrawingSurfaceInfo com.sun.opengl.impl.macosx
EmitStruct JAWT_MacOSXDrawingSurfaceInfo
Implements JAWT_MacOSXDrawingSurfaceInfo JAWT_PlatformInfo

CustomJavaCode JAWT_DrawingSurfaceInfo   public JAWT_PlatformInfo platformInfo() {
CustomJavaCode JAWT_DrawingSurfaceInfo     return platformInfo0(getBuffer());
CustomJavaCode JAWT_DrawingSurfaceInfo   }
CustomJavaCode JAWT_DrawingSurfaceInfo   private native JAWT_PlatformInfo platformInfo0(Buffer jthis0);
