# This .cfg file is used to generate the interface to the JAWT, which
# is used by the X11OnscreenGLContext.
Style AllStatic
Package net.java.games.jogl.impl
JavaClass JAWTFactory
JavaOutputDir ../build/gensrc/classes
NativeOutputDir ../build/gensrc/native/jogl
HierarchicalNativeOutput false
Opaque int JNIEnv *
Opaque boolean jboolean
CustomCCode #include <jawt.h>
StructPackage JAWT_MacOSXDrawingSurfaceInfo net.java.games.jogl.impl.macosx
IgnoreField JAWT GetComponent
EmitStruct JAWT_MacOSXDrawingSurfaceInfo

