# This .cfg file is used to generate the interface to the JAWT, which
# is used by the X11OnscreenGLContext.
Style AllStatic
Package com.sun.nativewindow.impl.jawt
JavaClass JAWTFactory
JavaOutputDir gensrc/classes
NativeOutputDir gensrc/native/X11

HierarchicalNativeOutput false

Opaque boolean jboolean
Opaque long Drawable
Opaque long Display *

IgnoreField JAWT GetComponent
IgnoreField JAWT_DrawingSurfaceInfo platformInfo
IgnoreField JAWT_X11DrawingSurfaceInfo GetAWTColor

IncludeAs CustomJavaCode JAWT jawt-CustomJavaCode.java

CustomCCode #include <inttypes.h>
CustomCCode #include <jawt.h>

import java.security.*
import com.sun.nativewindow.impl.jawt.*
StructPackage JAWT_X11DrawingSurfaceInfo com.sun.nativewindow.impl.jawt.x11
EmitStruct JAWT_X11DrawingSurfaceInfo
Implements JAWT_X11DrawingSurfaceInfo JAWT_PlatformInfo

IncludeAs CustomJavaCode JAWT_DrawingSurfaceInfo jawt-DrawingSurfaceInfo-CustomJavaCode.java
