# This .cfg file is used to generate the interface to the JAWT, which
# is used by the WindowsOnscreenGLContext.
Include jawt-common.cfg
NativeOutputDir gensrc/native/Windows

Opaque long HDC

IgnoreField JAWT_Win32DrawingSurfaceInfo null
IgnoreField JAWT_Win32DrawingSurfaceInfo hpalette

CustomCCode #include <gluegen_stdint.h>
CustomCCode #include <gluegen_stddef.h>

StructPackage JAWT_Win32DrawingSurfaceInfo jogamp.nativewindow.jawt.windows
EmitStruct JAWT_Win32DrawingSurfaceInfo
Implements JAWT_Win32DrawingSurfaceInfo JAWT_PlatformInfo
