# This .cfg file is used to generate the interface to the JAWT, which
# is used by the MacOSXOnscreenGLContext.
Include jawt-common.cfg
NativeOutputDir gensrc/native/MacOSX

Opaque long void *
Opaque long NSView *
Opaque long CALayer *

CustomCCode #include <inttypes.h>
CustomCCode #include </usr/include/machine/types.h>

StructPackage JAWT_MacOSXDrawingSurfaceInfo jogamp.nativewindow.jawt.macosx
EmitStruct JAWT_MacOSXDrawingSurfaceInfo
Implements JAWT_MacOSXDrawingSurfaceInfo JAWT_PlatformInfo

StructPackage JAWT_SurfaceLayers jogamp.nativewindow.jawt.macosx
EmitStruct JAWT_SurfaceLayers
Implements JAWT_SurfaceLayers JAWT_PlatformInfo
